
@media (max-width: 1000px) {
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .menu-icon{
    display: block;
  }

  #menu {
    display: inline-block;
  }

  .header-right{
    display: none;
  }

  .en {
    color: #0054a6;
    position: relative;
    line-height: 1.6;
    font-family: 'Avenir LT W01_65 Medium1475532';
    letter-spacing: .06em;
    font-size: 20px;
  }

  .slash {
    color: #00aaea;
    position: relative;
    line-height: 1.6;
    font-family: 'RodinPro-DB';
    font-weight: 100;
    letter-spacing: .06em;
    font-size: 30px;
  }

  .ja {
    font-family: 'FOT-ロダン Pro B';
    font-weight: bold;
    color: #0054a6;
    position: relative;
    letter-spacing: .03em;
    font-size: 14px;
  }

  /* headerのスタイル */
  header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    position :fixed;
    top: 0;
    z-index: 10;
    padding: 0 15px;
    margin: 0 auto;
    color: #111111;
  }

  .header-left {
    float: left;
  }

  .header-right {
    float: right;
    margin-right: 25px;
  }

  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #111111;
    display: none;
    float: left;
    transition: all 0.5s;
  }

  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .logo {
    width: 150px;
    margin-top: 20px;
  }

  /* トップのスタイル */
  .top-wrapper {
    padding: 120px 0 80px 0;
    background-image: url(header_1.png);
    background-color:rgba(255,255,255,0.5);
  　background-blend-mode:lighten;
    background-size: cover;
    color: #fff;
    text-align: center;
  }

  .top-wrapper h1{
   font-size: 20px;
 }

 .top-wrapper p{
   font-size: 12px;
 }


  .top-btn {
    margin: 15px 0;
  }

  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #fff;
    border: solid 2px #fff;
    transition: .2s;
  }

  .btn-flat-border:hover {
    background: #f5f5f5;
    color: white;
  }

  /* CONCEPTのスタイル */
  .concept-wrapper {
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    height: 1250px;
  }

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .concept-content {
    float: left;
    width: 50%;
  }

  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: #666666;
    text-align: left;
    letter-spacing: 3px;
  }

  .concept img {
    width: 100%;
    margin: 20px 0;
  }

  /* aboutのスタイル */
  .about-wrapper {
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #d0e7f6;
    text-align: center;
    height: 1250px;
  }

  .about-content {
    float: left;
    width: 50%;
  }

  .merit {
    margin-left: 0;
  }

  .merit ul {
    border: solid 2px #0054a6;
    padding: 0 0.5em;
    position: relative;
    width: 90%;
    margin-left: 5px
  }

  .merit ul li {
    line-height: 1.2;
    padding: 0.5em 0 0.5em 1.4em;
    border-bottom: dashed 1px silver;
    list-style-type: none!important;
    text-align: left;
  }

  .merit ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f138";/*アイコン種類*/
    position: absolute;
    left : 0.5em; /*左端からのアイコンまで*/
    color: #0054a6; /*アイコン色*/
  }

  .merit ul li:last-of-type {
    border-bottom: none;
  }

  .about-img{
    width: 100%;
  }

  /* fanctionのスタイル */
  .function-wrapper {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    height: 2050px;
  }

  .function-content {
    margin-top: 20px;
    float: left;
    width: 33.3%;
  }

  .classroom img{
    width: 100%;

    margin: 10px 0;
  }

  .function-icon img {
    width: 50%;
    border-radius: 50px;
  }

  /* planのスタイル */
  .plan-wrapper {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #d0e7f6;
    text-align: center;
    height: 950px;
  }

  .plan-content {
    float: left;
    width: 33.3%;
  }

  .plan-icon img{
    width: 80%;
  }

  footer {
    height: 150px;
    width: 100%;
    background-color: #111;
    padding: 0 15px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

  .sns{
    margin-top: 10px;
    margin-right: 100px;
  }
}

/* モバイル版 */

@media all and (max-width: 670px) {
  .container {
    max-width: 670px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .menu-icon{
    display: block;
  }

  #menu {
    display: inline-block;
  }

  .header-right{
    display: none;
  }

  .en {
    color: #0054a6;
    position: relative;
    line-height: 1.6;
    font-family: 'Avenir LT W01_65 Medium1475532';
    letter-spacing: .06em;
    font-size: 20px;
  }

  .slash {
    color: #00aaea;
    position: relative;
    line-height: 1.6;
    font-family: 'RodinPro-DB';
    font-weight: 100;
    letter-spacing: .06em;
    font-size: 30px;
  }

  .ja {
    font-family: 'FOT-ロダン Pro B';
    font-weight: bold;
    color: #0054a6;
    position: relative;
    letter-spacing: .03em;
    font-size: 14px;
  }

  /* headerのスタイル */
  header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    position :fixed;
    top: 0;
    z-index: 10;
    padding: 0 15px;
    margin: 0 auto;
    color: #111111;
  }

  .header-left {
    float: left;
  }

  .header-right {
    float: right;
    margin-right: 25px;
  }

  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #111111;
    display: none;
    float: left;
    transition: all 0.5s;
  }

  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .logo {
    width: 150px;
    margin-top: 20px;
  }

  /* トップのスタイル */
  .top-wrapper {
    padding: 100px 0 100px 0;
    background-image: url(header_1.png);
    background-color:rgba(255,255,255,0.5);
  　background-blend-mode:lighten;
    background-size: cover;
    color: #fff;
    text-align: center;
  }

  .top-wrapper h1{
   font-size: 20px;
   text-align: left;
 }

 .top-wrapper p{
   font-size: 12px;
 }


  .top-btn {
    margin: 15px 0;
  }

  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #fff;
    border: solid 2px #fff;
    transition: .2s;
  }

  .btn-flat-border:hover {
    background: #f5f5f5;
    color: white;
  }

  /* CONCEPTのスタイル */
  .concept-wrapper {
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    height: 1250px;
  }

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .concept-content {
    float: left;
    width: 100%;
  }

  .text-contents {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
    text-align: left;
    letter-spacing: 3px;
  }

  .concept img {
    width: 100%;
    margin: 20px 0;
  }

  /* aboutのスタイル */
  .about-wrapper {
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #d0e7f6;
    text-align: center;
    height: 1450px;
  }

  .about-content {
    float: left;
    width: 100%;
  }

  .merit {
    margin-left: 0;
  }

  .merit ul {
    border: solid 2px #0054a6;
    padding: 0 0.5em;
    position: relative;
    width: 100%;
    margin-left: 5px
  }

  .merit ul li {
    line-height: 1.2;
    padding: 0.5em 0 0.5em 1.4em;
    border-bottom: dashed 1px silver;
    list-style-type: none!important;
    text-align: left;
  }

  .merit ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f138";/*アイコン種類*/
    position: absolute;
    left : 0.5em; /*左端からのアイコンまで*/
    color: #0054a6; /*アイコン色*/
  }

  .merit ul li:last-of-type {
    border-bottom: none;
  }

  .about-img{
    width: 100%;
  }

  /* fanctionのスタイル */
  .function-wrapper {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    height: 2650px;
  }

  .function-content {
    margin-top: 20px;
    float: left;
    width: 100%;
  }

  .classroom img{
    width: 100%;
    margin: 10px 0;
  }

  .function-icon img {
    width: 50%;
    border-radius: 50px;
  }

  /* planのスタイル */
  .plan-wrapper {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #d0e7f6;
    text-align: center;
    height: 1850px;
  }

  .plan-content {
    float: left;
    width: 100%;
  }

  .plan-icon img{
    width: 80%;
  }

  footer {
    height: 150px;
    width: 100%;
    background-color: #111;
    padding: 0 15px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

  .sns{
    margin-top: 10px;
    margin-right: 100px;
  }
}
